.hero-services{
    position: relative;
    text-align: center;
    margin: 10rem 0 7rem;
    padding: 0 1rem;
}
.services-container{
    padding: 0 1rem;
}
.hero-services-img{
    height: 20rem;
    width: 100%;
    max-width: 50rem;
    object-fit: cover;
    opacity: .14;
    position: absolute;
    top: 2.5rem;
    left: 0;
    z-index: -1;
}
.hero-services-h1{
    max-width: 13rem;
    margin: auto;
    font-size: 2em;
    line-height: 2.4rem;
    padding-top: .3rem;
    color: #3C3C3B;
}
.hero-services-p{
    font-size: .9rem;
    color: #868685;
    text-transform: uppercase;
}
.hero-services-h1 > span {
    color: #7874F4;
}
.services-cards{
    position: sticky;
    top: -22rem;
    left: 0;
    min-height: 40rem;
    width: 100%;
    padding: 1.5rem 1rem;
    background-color: #E3E1EE;
    border-radius: 1.25rem;
    border: 1px solid #7874F4;
}
.services-cards-top{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: #3C3C3B;
    padding-bottom: 1.5rem;
}
.services-cards-top h2{
    font-size: 1.5em;
} 
.services-card-bottom{
    display: flex;
    flex-direction: column;
    gap: .1rem;
    border-top: 1px solid #3c3c3b92;;
    padding: .5rem 0 2rem;
}
.services-cards-span{
    color: #7874F4;
}
.services-cards-h3{
    max-width: 10rem;
    font-size: 1.25em;
    color: #3c3c3b;
    padding-bottom: 1rem;
}
.services-cards-p{
    font-size: .95em;
    color: #868685;
}
.why-gigson{
    margin: 5rem 1rem 7rem;
    padding: 3rem 1rem;
    background-color: #E3E1EE;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.why-gigson > h2{
    font-size: 2em;
    text-wrap: balance;
    max-width: 15rem;
}
.why-gigson p {
    font-size: 1.25em;
    max-width: 32rem;
}
@media (min-width: 56.25rem){
    .hero-services{
        margin: 13rem 0 9rem;
    }
    .services-container{
        padding: 0 2rem;
    }
    .hero-services-h1{
        max-width: 20rem;
        font-size: 3.43em;
        line-height: 3.8rem;
        padding-top: .7rem;
    }
    .hero-services-p{
        font-size: 1.25em;
    }
    .hero-services-img{
        height: 27rem;
        max-width: 40rem;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .services-cards-top{
        max-width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        padding-bottom: 2.5rem;
    }
    .services-cards-top h2{
        font-size: 2.5em;
        width: 12rem;
    } 
    .services-cards-top p{
        font-size: 1.15rem;
        max-width: 34rem;
        text-wrap: balance;
    }
    .services-cards{
        top: 8rem;
        min-height: 20rem;
        width: 100%;
        padding: 2rem 2rem 4rem;
    }
    .services-cards > footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
    .services-card-bottom{
        justify-content: space-between;
        gap: 2rem;
    }
    .services-cards-span{
        font-size: 1.25em;
    }
    .services-cards-h3{
        max-width: 18rem;
        font-size: 2rem;
        line-height: 2.2rem;
        color: #3c3c3b;
    }
    .services-cards-p{
        max-width: 20rem;
        font-size: 1.25rem;
        color: #868685;
    }
    .why-gigson{
        margin: 7rem 2rem;
        padding: 3rem 2rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .why-gigson > h2{
        font-size: 3em;
        text-wrap: balance;
        max-width: 25rem;
    }
    .why-gigson p {
        font-size: 1.7em;
        /* max-width: 28rem; */
        /* padding-bottom: 2rem; */
    }
}