.div-about-hero{
    height: calc(100vh - 6rem);
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: hidden; 
}
.div-about-belive{
    background-color: #E3E1EE ;
    padding: 2rem 1rem 2.5rem;
}
.div-svg-about{
    border-bottom: 1px solid #3c3c3b93;
    padding: 2rem 0 .5rem;
}
.about-section-need{
    margin: 1rem 1rem 0;
    position: relative;
}
.about-hero-h1{
    margin: 0 auto;
    max-width: 30rem;
    font-size: 1.5em;
    text-align: center;
    font-size: 2.25rem;
    color: #3c3c3b;
    line-height: 2.375rem;
    padding: 0 1.5rem;    
}
.about-span-hero, .about-span{
    color: #7874F4;
}
.about-span{
    font-size: 1.25rem;
    margin: 0 .2rem;
}
.about-hero-h2{
    font-size: 2rem;
    line-height: 2.375rem;  
    width: 100%;
    color: #3C3C3B;
    background-color: #E3E1EE;
    padding: 2rem 1rem 0;
}
.about-h3{
    color: #3C3C3B;
    font-size: 1.5rem;
}
.about-hero-p{
    margin: 0 auto;
    max-width: 35rem;
    text-align: center;    
    font-size: 1rem;
    color: #868685;
    line-height: 1.375rem;
    padding: 1rem 2rem 0;
    text-wrap: balance;
}
.about-believe-p{
    color: #868685;
    font-size: 1rem;
    margin: 1rem 0;
    max-width: 40rem;
}
.about-hero-btn {
    font-size: .875rem;
    color: #7874F4;
    margin: 14.3rem auto 0;
}
.about-hero-need-h2{
    margin: 5.5rem 0 1rem;
    font-size: 2rem;
    display: -webkit-box;
}
.about-need-p{
    color: #3C3C3B;
    font-size: 1rem;
    margin: 1rem 0 3rem;
}
.about-div-specialist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 1.5rem;
    padding: 1rem 0;
}
.about-need-h3{
    font-size: 1rem;
    color: #3C3C3B;
}
.about-need-p1{
    color: #7874F4;
    font-size: .875rem;
    text-transform: uppercase;
}
.about-button-contact{
    font-size: .875rem;
    color: #7874F4;
    margin: 4rem auto 0;
}
.about-background-image-DgPrd{
    position: absolute;
    top: -6rem;
    right: .5rem;
    width: 60vw;
    max-width: 20rem;
    opacity: .6;
}
@media (min-width: 56.25rem){
    .div-about-hero{
        height: calc(100vh - 9rem);
        margin-top: 9rem;
    }
    .about-hero-h1{
        font-size: 2.7em;
        line-height: 2.8rem;
    }
    .about-hero-p{
        font-size: 1.25em;
        line-height: 1.475rem;
        padding: 1.5rem .5rem 0;
    }
    .div-about-belive{
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem 3rem;
        gap: 4rem;
    }
    .div-about-belive article{
        width: 22rem;
    }
    .about-hero-h2{
        padding: 1rem 2rem;
    }
    .about-h3{
        font-size: 2.15em;
    }
    .about-believe-p{
        font-size: 1.2rem;
    }
    .about-div-specialist {
        padding: 4rem 0 inherit;
        grid-template-columns: repeat(3, 1fr);
    }
    .about-hero-need-h2{
        font-size: 2.8em;
        max-width: 30rem;
    }
    .about-need-p{
        font-size: 1.6rem;
        max-width: 43rem;
    }
    .about-need-h3{
        font-size: 2.1em;
    }
    .about-need-p1{
        padding-top: .5rem;
        font-size: 1.2em;
    }
    .about-background-image-DgPrd{
        top: -3rem;
        right: 3.5rem;
        max-width: 25rem;
    }
}