
.faqs-section{
    max-width: 120rem;
    margin: 0 1.5rem;
}
.hero-faqs{
    text-align: center;
    margin: 10rem 1rem 5rem;
    padding: 6rem 0;
    overflow: hidden;
}
.faqs-imgs{
    display: flex;
    max-width: 33rem;
    margin: 0 auto;
    position: relative;
}
.faqs-imgs > img:first-child {
    position: absolute;
    top: -7rem;
    left: .5rem;
    z-index: -1;
    width: 30%;
    object-fit: contain;
}
.faqs-imgs > img:last-child {
    position: absolute;
    top: -5rem;
    right: .5rem;
    z-index: -1;
    width: 43%;
    object-fit: contain;
}
.hero-faqs-h1{
    max-width: 14rem;
    margin: 0 auto;
    font-size: 2em;
    line-height: 2.4rem;
    padding-top: .3rem;
    color: #3C3C3B;
    text-wrap: pretty;
}
.hero-faqs-h1 > span {
    color: #7874F4;
}
.faqs-accordion-h2{
    font-size: 2.5rem;
    margin: 2rem auto;
}

.faqs-container{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #3C3C3B;
    padding-bottom: 1rem;
    margin: 1rem ;
}
.faqs-container > .accordion-btn{
    margin: 1rem 0 0;
    padding: 0;
}
.faqs-container > .accordion-content{
    padding: 0;
}
.svg-faqs{
    transition: transform 300ms ease-out;
}
.svg-faqs-close{
    transform: rotate(180deg);
    transition: transform 300ms ease-out;
}





@media (min-width: 70rem) {
    .faqs-accordion{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .faqs-accordion-h2{
        position: relative;
        top: 5.9rem; left: 0;
        font-size: 2.1875rem;
        margin: 1rem 0 1rem 4rem;
    }
    .faqs-section{
        max-width: 120rem;
        margin: 0 auto;
    }
}

