.button-main{
    padding: .5rem 1.5625rem;
    border: .0625rem solid #7874F4;
    border-radius: 2rem;
    transition: .2s linear;
}

.button-main:hover{
    background-color: #4e4b99;
    color: aliceblue;
    border-color: #ffffff00;
}

.hero-btn, .home-services-btn, .form-btn-send{
    font-size: .875rem;
    color: #7874F4;
    margin: 1.3rem auto;
}

.home-services-btn{
    margin: 2rem 0 0 1rem;
}

.form-btn-budget{
    font-size: 1.25rem;
    padding: .4rem .9rem;
    color: #3C3C3B;
    border: .0625rem solid #000;
}

.form-btn-send{
    margin: 1rem 0 1rem;
}


