.hero-section{
    overflow: hidden;
    width: 100%;
}

.hero-img{
    margin-left: 12%;
}

.hero-p{
    text-align: center;    
    font-size: 0.875rem;
    color: #868685;
    line-height: 1.375rem;
    padding: 1rem 2rem 0;
}

.hero-h1{
    text-align: center;
    font-size: 2.25rem;
    text-wrap: balance;
    color: #3c3c3b;
    line-height: 2.375rem;
    margin: .8rem 0;
    
}

.hero-h1 span{
    color: #7874f4;
}

.hero-godown{
    color: #7874f4;
    text-align: center;
    padding-top: 3rem ;
}

.icon-godown{
    margin-top: 10px;
    fill: none;
    height: .375rem;
    border: 1px;
}
