.header{
    padding: 1rem 0;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3c3c3bcc;
}

.nav-links{
    display: none;
    gap: 3rem;
    align-items: center;
    color:#3c3c3bcc;
}

.mobile-icon {
    width: 2.2rem;
    display: block;
}

.logo-header{
    width: 126px;
}

@media(min-width:900px){
    .mobile-icon{        
        display: none;
    }
    .nav-links{
        display: flex;
    }
    
}