.accordion-container{
    max-width: 105rem;
    margin: 0 1rem;
    padding-bottom: 1rem;
    border: 1px solid #7874F4;
    border-radius: 1.25rem;
    text-wrap: balance;
    cursor: pointer;
}
.accordion-btn{
    width: 100%;
    padding: 1rem 1rem 0;
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    color: #3C3C3B;
    cursor: pointer;
}
.accordion-title{
    font-size: 1.875rem;
    max-width: 90%;
}
.accordion-content{
    height: 0;
    font-size: .9em;
    color: #3b3b3b;
    padding: 0 1rem;
    overflow: hidden;
    opacity: 0;
    transition: 350ms ease-in-out;
    
}
.accordion-show-content{
    margin-top: 1rem;
    min-height: 2rem;
    height: fit-content;
    opacity: 1;
}
.accordion-content-text{
    font-size: 1.125rem;
    overflow-y: hidden;
}
.cases-dropdown-subtitle{
    font-size: 1.25em;
    color: #3b3b3b;
    padding: 1rem 0 .5rem;
    border-top: 1px solid;
}
.cases-dropdown-challenge{
    max-width: 55rem;
    padding: 1rem 0 2rem;
    color: #868685;
}
.without-border{
    padding: 0 0 2rem;
    border-top: none;
}
.oadljkgvbadojgbaed {
    padding: 1rem 0;
    border-bottom: 1px solid #868685;
    border-top: 1px solid #868685;
}
.cases-dropdown-features > h4, 
.cases-dropdown-solution h4{
    color: #7874F4;
    text-transform: uppercase;
    padding-bottom: .5rem;
}
.cases-dropdown-features > ul > div, .cases-dropdown-tools > div{
    max-width: 40rem;
    display: flex;
    gap: .3rem;
    margin-left: 1rem;
}
.cases-dropdown-tools{
    margin-top: 3rem;
}
.cases-dropdown-features li, .cases-dropdown-tools li{
    color: #868685;
    list-style: disc;
    padding: .5rem 0;
}
.cases-dropdown-solution{
    max-width: 40rem;
    padding: 1rem 0;
    color: #868685;
}
.cases-dropdown-solution p  {
    max-width: 55rem;
}
.accordion-svg{
    flex-shrink: 0;
    margin-left: .5rem;
    width: 1.5rem;
    height: 1.5rem;
}
@media (min-width: 64rem) {
    .accordion-container{
        margin: 0 4rem;
    }
    .oadljkgvbadojgbaed, .cases-dropdown-solution, .without-border{
        max-width: none;
        display: grid;
        grid-template-columns: calc(70% - 1rem) 30%;
        gap: 1rem;
    }
    .cases-dropdown-solution p, .cases-dropdown-challenge {
        font-size: 1.1em;
    }
}
@media (min-width: 90rem){
    .accordion-container{
        padding: .5rem 2rem 1.5rem;
    }
    .accordion-title{
        font-size: 1.7em;
    }
    .cases-dropdown-solution h4, .cases-dropdown-features h4 {
        font-size: 1.3rem;
    }
    .cases-dropdown-solution p, .cases-dropdown-challenge {
        max-width: 70rem;
        font-size: 1.2em;
    }
    .cases-dropdown-features, .cases-dropdown-tools{
        font-size: 1.2em;
    }
    .cases-dropdown-subtitle{
        font-size: 1.4em;
    }
    .accordion-svg{
        width: 2rem;
        height: 2rem;
    }
}
@media (min-width: 121rem) {
    .accordion-container{
        margin: 0 auto;
    }
}